# Módulo 07, Tarefa 01

Vamos começar a mexer na nossa base de projeto? Já fizemos um exercício de montar a variável resposta, já pudemos perceber que essa atividade pode não ser trivial. Vamos agora trabalhar a base para que fique propícia ao *scikitlearn* para trabalharmos.

Lembrando, a base se chama demo01.csv, e originalmente está publicada [aqui](https://www.kaggle.com/rikdifos/credit-card-approval-prediction).

#### 1) Carregue a base e avalie:

- As variáveis
- Tipos de dados de cada variável
- Quantidade de missings
- Distribuição da variável resposta (mau)

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [4]:
demo = pd.read_csv("demo01.csv")

In [5]:
demo.columns

Index(['sexo', 'posse_de_veiculo', 'posse_de_imovel', 'qtd_filhos',
       'tipo_renda', 'educacao', 'estado_civil', 'tipo_residencia', 'idade',
       'tempo_emprego', 'possui_celular', 'possui_fone_comercial',
       'possui_fone', 'possui_email', 'qt_pessoas_residencia', 'mau'],
      dtype='object')

In [6]:
demo.dtypes

sexo                      object
posse_de_veiculo          object
posse_de_imovel           object
qtd_filhos                 int64
tipo_renda                object
educacao                  object
estado_civil              object
tipo_residencia           object
idade                    float64
tempo_emprego            float64
possui_celular             int64
possui_fone_comercial      int64
possui_fone                int64
possui_email               int64
qt_pessoas_residencia    float64
mau                         bool
dtype: object

In [7]:
demo.isnull().sum()

sexo                     0
posse_de_veiculo         0
posse_de_imovel          0
qtd_filhos               0
tipo_renda               0
educacao                 0
estado_civil             0
tipo_residencia          0
idade                    0
tempo_emprego            0
possui_celular           0
possui_fone_comercial    0
possui_fone              0
possui_email             0
qt_pessoas_residencia    0
mau                      0
dtype: int64

In [8]:
demo["mau"]

0        False
1        False
2        False
3        False
4        False
         ...
16645     True
16646     True
16647     True
16648     True
16649     True
Name: mau, Length: 16650, dtype: bool

#### 2) Vamos montar um metadados

1. Crie um dataframe com os nomes de cada variável e o tipo de dados de cada variável.
2. Adicione uma coluna nesse *dataframe* chamada "qtd_categorias" e coloque nela o número de categorias correspondente de cada variável.
    Dica:
        1. inicie uma lista vazia
        2. faça um for ao longo dos nomes das variáveis,
        3. conte o número de categorias dessa variável
        4. acumule essa informação de 3. na lista que você criou em 1.
        5. No final, essa lista pode ser atribuída à nossa variável.
3. Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}.

In [19]:
lista_demo= []

In [9]:
df = pd.DataFrame(demo)
df

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau
0,M,Y,Y,0,Working,Secondary / secondary special,Married,House / apartment,58.832877,3.106849,1,0,0,0,2.0,False
1,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
2,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
3,M,Y,Y,0,Working,Higher education,Married,House / apartment,46.224658,2.106849,1,1,1,1,2.0,False
4,F,Y,N,0,Working,Incomplete higher,Married,House / apartment,29.230137,3.021918,1,0,0,0,2.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16645,F,N,Y,0,Working,Secondary / secondary special,Civil marriage,House / apartment,54.109589,9.884932,1,0,0,0,2.0,True
16646,F,N,Y,0,Commercial associate,Secondary / secondary special,Married,House / apartment,43.389041,7.380822,1,1,1,0,2.0,True
16647,M,Y,Y,0,Working,Secondary / secondary special,Married,House / apartment,30.005479,9.800000,1,1,0,0,2.0,True
16648,M,Y,Y,0,Working,Secondary / secondary special,Married,House / apartment,30.005479,9.800000,1,1,0,0,2.0,True
16649,F,N,Y,0,Pensioner,Higher education,Married,House / apartment,33.936986,3.630137,1,0,1,1,2.0,True

In [10]:
df.dtypes

sexo                      object
posse_de_veiculo          object
posse_de_imovel           object
qtd_filhos                 int64
tipo_renda                object
educacao                  object
estado_civil              object
tipo_residencia           object
idade                    float64
tempo_emprego            float64
possui_celular             int64
possui_fone_comercial      int64
possui_fone                int64
possui_email               int64
qt_pessoas_residencia    float64
mau                         bool
dtype: object

In [18]:
for coluna in df.columns:
    contagem_categorias = df[coluna].value_counts()

contagem_categorias

False    16260
True       390
Name: mau, dtype: int64

In [20]:
lista_demo= [contagem_categorias]

In [21]:
df.append(lista_demo)

<ipython-input-21-a4e592783f29>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append(lista_demo)

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau,False,True
0,M,Y,Y,0.0,Working,Secondary / secondary special,Married,House / apartment,58.832877,3.106849,1.0,0.0,0.0,0.0,2.0,False,NaN,NaN
1,F,N,Y,0.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1.0,0.0,1.0,1.0,1.0,False,NaN,NaN
2,F,N,Y,0.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1.0,0.0,1.0,1.0,1.0,False,NaN,NaN
3,M,Y,Y,0.0,Working,Higher education,Married,House / apartment,46.224658,2.106849,1.0,1.0,1.0,1.0,2.0,False,NaN,NaN
4,F,Y,N,0.0,Working,Incomplete higher,Married,House / apartment,29.230137,3.021918,1.0,0.0,0.0,0.0,2.0,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16646,F,N,Y,0.0,Commercial associate,Secondary / secondary special,Married,House / apartment,43.389041,7.380822,1.0,1.0,1.0,0.0,2.0,True,NaN,NaN
16647,M,Y,Y,0.0,Working,Secondary / secondary special,Married,House / apartment,30.005479,9.800000,1.0,1.0,0.0,0.0,2.0,True,NaN,NaN
16648,M,Y,Y,0.0,Working,Secondary / secondary special,Married,House / apartment,30.005479,9.800000,1.0,1.0,0.0,0.0,2.0,True,NaN,NaN
16649,F,N,Y,0.0,Pensioner,Higher education,Married,House / apartment,33.936986,3.630137,1.0,0.0,1.0,1.0,2.0,True,NaN,NaN
mau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16260.0,390.0

#### 3) Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}. Crie um *dataframe* apenas com as variáveis apropriadas para entrada no scikitlearn - elimine as variáveis tipo *str*, mantendo apenas suas versões *dummy*.

In [22]:
demo_semna = demo.drop("sexo", axis=1)

In [24]:
demo_semna["posse_de_veiculo"].unique()
demo_semna["posse_de_imovel"].unique()
demo_semna["tipo_renda"].unique()
demo_semna["educacao"].unique()
demo_semna["estado_civil"].unique()
demo_semna["tipo_residencia"].unique()

array(['House / apartment', 'Rented apartment', 'Municipal apartment',
       'With parents', 'Co-op apartment', 'Office apartment'],
      dtype=object)

In [27]:
demo_dummies = pd.get_dummies(demo_semna, columns=["posse_de_veiculo","posse_de_imovel","tipo_renda","educacao","estado_civil","tipo_residencia"], drop_first=True)

In [28]:
df_sna = pd.DataFrame(demo_dummies)
df_sna

,qtd_filhos,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau,posse_de_veiculo_Y,...,educacao_Secondary / secondary special,estado_civil_Married,estado_civil_Separated,estado_civil_Single / not married,estado_civil_Widow,tipo_residencia_House / apartment,tipo_residencia_Municipal apartment,tipo_residencia_Office apartment,tipo_residencia_Rented apartment,tipo_residencia_With parents
0,0,58.832877,3.106849,1,0,0,0,2.0,False,1,...,1,1,0,0,0,1,0,0,0,0
1,0,52.356164,8.358904,1,0,1,1,1.0,False,0,...,1,0,0,1,0,1,0,0,0,0
2,0,52.356164,8.358904,1,0,1,1,1.0,False,0,...,1,0,0,1,0,1,0,0,0,0
3,0,46.224658,2.106849,1,1,1,1,2.0,False,1,...,0,1,0,0,0,1,0,0,0,0
4,0,29.230137,3.021918,1,0,0,0,2.0,False,1,...,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16645,0,54.109589,9.884932,1,0,0,0,2.0,True,0,...,1,0,0,0,0,1,0,0,0,0
16646,0,43.389041,7.380822,1,1,1,0,2.0,True,0,...,1,1,0,0,0,1,0,0,0,0
16647,0,30.005479,9.800000,1,1,0,0,2.0,True,1,...,1,1,0,0,0,1,0,0,0,0
16648,0,30.005479,9.800000,1,1,0,0,2.0,True,1,...,1,1,0,0,0,1,0,0,0,0
16649,0,33.936986,3.630137,1,0,1,1,2.0,True,0,...,0,1,0,0,0,1,0,0,0,0

#### 4) Qual variável é mais poderosa?

Considere as variáveis ```possui_email``` e ```posse_de_veiculo```. Faça uma tabela cruzada entre elas e responda qual delas te parece mais poderosa para prever a probabilidade de ```mau = 1```?

In [31]:
cruzado = pd.crosstab(df_sna["possui_email"], ["posse_de_veiculo"])
cruzado

col_0         posse_de_veiculo
possui_email
0                        15170
1                         1480

Posse de veiculo é muito mais acertivo

#### 5) Salve a base, pois ela será utilizada no final deste módulo.